/* colors */
/* font-size */
/* backgrounds */
body {
  margin: 0;
  color: #494949;
  font: 14px/20px Arial, Helvetica, sans-serif;
  background: #ebebeb;
}
img {
  border-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: underline;
}
input,
textarea,
select {
  font: 100% arial, sans-serif;
  vertical-align: middle;
}
form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}
header,
footer,
article,
section,
hgroup,
nav,
figure {
  display: block;
}
